$brand-black: #141213;
$brand-white: #e4e4e4;
$brand-grey: #bdc0c7;
$brand-primary: #6c9473;
$brand-secondary: #da9328;
$brand-pop: #b03e87;

@import 'base';
@import 'navbar';
@import 'sidebar';
@import 'footer-button';
@import 'footer-form';
@import 'detail';
@import 'scores';
