<h2>Scores for {{model.name}}</h2>

<p>There are {{model.scores.length}} scores for this game.</p>

<ol class="game-scores">
  {{#each model.scores as |score|}}
    <li class="game-scores__item">
      <span class="game-scores__username">{{score.username}}</span>
      <span class="game-scores__score">{{score.score}}</span>
    </li>
  {{/each}}
</ol>
