<div class="left-sidebar">
  <ul class="games-list">
    {{#each model as |game|}}
    <li>
      <h2 class="games-list__heading">
        {{#link-to 'games.scores' game.id class="games-list__link"}}
          {{game.name}}
        {{/link-to}}
      </h2>
    </li>
    {{/each}}
  </ul>
  {{#footer-bar as |toggleExpand|}}
    {{#simple-form onsubmit=(route-action 'saveNewGame' toggleExpand) class="footer-form" as |newGame|}}
      <label class="footer-form__label">Name</label>
      {{input type="text" class="footer-form__input" placeholder="Name" value=newGame.name}}

      <button class="footer-bar__button footer-bar__button--save">Save</button>
    {{/simple-form}}
  {{/footer-bar}}
</div>
<div class="detail">
  {{outlet}}
</div>
